src/main/mule/helloword.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78043eaa-a7c5-4c5e-a5e4-8fe3ad119f92" >
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<flow name="hellowordFlow" doc:id="4b300f60-b7e1-42bb-8c1d-80fa3b41f653" >
		<http:listener doc:name="Listener" doc:id="e87884f3-f25c-450b-91e2-de087a979097" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["HELLO To All"]' doc:name="Set Payload" doc:id="e39cb763-a8ac-46f0-a0a5-ead9b6e94a25" />
		<logger level="INFO" doc:name="Logger" doc:id="8f1ead2a-e253-4601-b81a-a17a4467574d" message='#[payload]'/>
		<ee:transform doc:name="Transform Message" doc:id="3ce3cc37-a2a2-4a59-b729-9782b8571894" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
